html {
  height: 100%;
}
html body {
  min-height: 100%;
}
html body footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(skyblue, lightgreen);
  padding: 1em 0;
  width: 100%;
}
html body main-container {
  overflow: hidden;
}
.input-text {
  padding: .5em 15px;
}
.input-check:checked + .text-success {
  color: firebrick;
  text-decoration: line-through;
}
.lable-ckbox:hover .delete-x {
  opacity: .9;
}
.lable-ckbox .delete-x {
  color: darkred;
  transform: scaleY(0.75) scaleX(1.05);
  cursor: pointer;
  opacity: 0;
}
